body {
	background-color: silver;
	color: white;
	font-family: 'Roboto', sans-serif;
/*	background: linear-gradient(to right, blanchedalmond, silver);
*/
	
	background: linear-gradient(to right, #391313, #ccccff)
	
	/*
	background-image: url("images/logo4.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom;
	*/
}

div.front {
	height: 100%;
	width: 100%;
	padding-bottom: 300px;
}

div.middle {
	padding-bottom: 250px;
	width: 100%;
}

div.rear { 
	padding: 100px;
	text-align: center;
	font-size: 15pt;
	width: 550px;
	height: auto;
}

a.bm { 
	color: darkslateblue;
}


h2.aboutWords {
	color: whitesmoke;
	font-size: 50pt;
}

#cseo {
	padding-top: 200px;
	text-align: center;
	font-size: 80pt;
	font-family: 'Roboto', sans-serif;
	animation: jello 1s linear alternate; 
}

#caption {
	text-align: center;
	font-size: 15pt;
}

@media (min-width:1024px) { 
	.navbar > .container {
	    text-align: center;
	}
	.navbar-header,.navbar-brand,.navbar .navbar-nav,.navbar .navbar-nav > li {
	    float: none;
	    display: inline-block;
	}
	.collapse.navbar-collapse {
	    float: none;
	    display: inline-block!important;
	    width: auto;
	    clear: none;
	}
}

.CAMERA_ICON {
	width: 100px;
	height: auto;
	padding: 50px;
}

.PROPOSAL_ICON {
	width: 100px;
	height: auto;
	padding: 50px;
}


img.CAMERA_ICON:hover { 
	animation: jello 1s linear infinite;
}

img.PROPOSAL_ICON:hover { 
	animation: jello 1s linear infinite;
}

@keyframes jello {
  from, 11.1%, to {
    transform: none;
  }

  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.jello {
  animation-name: jello;
  transform-origin: center;
}


ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      position: fixed;
      bottom: 0;
      width: 100%;
  }

  li {
      float: left;
  }
  
  li a { 
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }


    